<table>
    <h1>Head of States</h1>
    <tr>
    <th>Country Code</th>
    <th>Head of State</th>
    <th></th>
    </tr>
    <% headsOfState.forEach((headsOfStateDB) =>
    { %>
    <tr>
    <td><%= headsOfStateDB._id %></td>
    <td><%= headsOfStateDB.headOfState %></td>
    </tr>
    <% }) %>
</table>

<a href="/">Home</a>
    