<table>
    <tr>
         <td><a href="/Countries">List Countries</a></td>
    </tr>

    <tr>
        <td><a href="/Cities">List Cities</a></td>
    </tr>

    <tr>
        <td><a href="/HeadsOfState">List Heads of State</a></td>
    </tr>
</table>